@font-face {
    font-family: 'Intro';
    src: url("fonts/IntroDemoCond-BlackCAPS.eot");
    src: local('☺'), url("fonts/IntroDemoCond-BlackCAPS.woff") format('woff'), url("fonts/IntroDemoCond-BlackCAPS.ttf") format('truetype'), url("fonts/IntroDemoCond-BlackCAPS.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}


.logo__text {
    margin-left: 15px;
    font-family: 'Intro';
    font-size: 1.5em;
    line-height: 120%;
    font-weight: bold;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
    display: flex;
    justify-content: space-between;
    width: 97%;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.logo_img {
    height: 40px;
    width: 40px;
}

.trash__form {
    padding: 15% 0 0;
}

.trash__button {
    height: 38px;
    width: 115px;
    font-size: 13px;
    font-weight: bold;
    background-color: #5222D0;
    color: white;
    Border-radius: 100px;
    cursor: pointer;
    font-family: 'Intro';
}

.trash__img_trash {
    height: 13px;
    width: 13px;
    margin-left: 5px;

}

.h1 {
    font-family: 'Intro';
    font-size: 50px;
    font-weight: bold;
    margin-left: 125px;
}


.navbar {
    display: flex;
    margin-left: 5%;
    align-items: center;
    margin-bottom: 10%;
}

.navbar__item {
    margin: 30px 10px;
    color: black;
    text-decoration-line: none;
    font-size: 20px;
    font-family: 'Roboto Slab'
}


.title {
    margin-top: 25px;
    font-family: 'Intro';
    font-size: 30px;
    align-self: flex-start;
    margin-left: 20px;
    ;
}

.text {
    margin-top: 30px;
    font-family: 'Roboto Slab';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
}

.img {
    height: 233px;
    width: 365px;
    left: 127px;
    top: 330px;
}

.row1,
.row2 {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.row1__window {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 500 px;
    width: 440px;
    left: 92px;
    margin-left: 50px;
    padding: 20px 10px;
}

.cables,
.games {
    border: 1px solid #BB2247;
}

.row2__window {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 230px;
    width: 400px;
    margin-left: 45px;
    padding: 20px 10px;
}

.follow {
    background-color: #EC615B;
}

.follow__title {
    color: white;
}

.follow {
    align-items: flex-start;
}

.follow__title {
    margin-left: 0;
}

.follow__input {
    height: 50px;
    width: 323px;
    margin: 5% 0% 5% 0%;
}

.follow__button {
    height: 38px;
    width: 115px;
    font-size: 13px;
    font-weight: bold;
    background-color: #5222D0;
    color: white;
    Border-radius: 100px;
    cursor: pointer;
    font-family: 'Intro';
}