.marginStyle {
    margin-left: 10px;
    margin-top: 20px;
}

.divStyle {
    max-width: 50px;
}

.jumbotronStyle {
    background-color: #e5bebe;
}

.done{
    text-decoration: line-through;
}

.note{
    width: 50vw;
    list-style: none;
}